<div id="page-content" class="span-24 np-blue np-padding <%= @home_post.title %>">
  <h1>Editing home_post</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @home_post %> |
  <%= link_to 'Back', home_posts_path %>
</div>
