@font-face {
  font: {
    family: "Berlin Sans FB Demi Bold";
    weight: "normal";
    style: "normal";
  }
  src: asset-url('BRLNSDB.ttf', font);
}

@font-face {
  font: {
    family: "Berlin Sans FB";
    weight: "normal";
    style: "normal";
  }
  src: asset-url('berlinsans.ttf', font);
}
// NP colors
$np-blue: #4f81bd;
$np-green: #92d050;
$np-grey: #c0c0c0;
$np-red: #c0504d;
$np-padding: 10px 10px 10px 10px; 

#content {
  font-family:"Berlin Sans FB";
  color: #FFFFFF;
}
.center {
  text-align:center;
}
#footer {
  background: $np-green;
  padding-top:3px;
}
h1 { 
  color: #FFFFFF;
  font-family:"Berlin Sans FB Demi Bold";
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
.menu_item {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align:center;
  font-size:2.0em;
}
#page-content {
  background: $np-blue;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
#Home {
  background: $np-blue;
}
#Philosophy {
  background: $np-green;
}
#Order {
  background: $np-red;
}
#Menu{
  background: $np-blue;
}
#FAQ{
  background: $np-green;
}
#Contact{
  background: $np-red;
}
