@font-face {
  font: {
    family: "Berlin Sans FB Demi Bold";
    weight: "normal";
    style: "normal";
  }
  src: asset-url('BRLNSDB.ttf', font);
}


@font-face {
  font: {
    family: "Berlin Sans FB";
    weight: "normal";
    style: "normal";
  }
  src: asset-url('berlinsans.ttf', font);
}
// NP colors
$np-blue: #4f81bd;
$np-green: #92d050;
$np-grey: #c0c0c0;
$np-red: #c0504d;
$np-padding: 10px 10px 10px 10px; 
$np-padding-top-bottom: 10px;
$np-padding-sides: 20px;

.np-white-text {
  color: #FFFFFF;
}
.np-white {
  color: #000000;
  background: #FFFFFF;
}

td {
  color: #000000;
  a {
    color: #000000;
  }
  a:visited {
    color: #000000;
  }
  background: $np-blue;
}

.login {
  background: $np-blue;
}

.x-large {
  font-size: 24pt;
  text-align: center;
  font-family:"Berlin Sans FB";
}
.login-text {
  background: $np-blue;
  text-align:right;
  font-size: 14pt;
  padding-bottom: 10px;
  padding-top: 10px;
}
.np-padding {
  padding-bottom: $np-padding-top-bottom;
  padding-top: $np-padding-top-bottom;
  padding-left: $np-padding-sides;
  padding-right: $np-padding-sides;
}
.np-padding-1 {
  padding-bottom: $np-padding-top-bottom;
  padding-top: $np-padding-top-bottom;
  padding-left: 6px;
  padding-right: 6px;
}

.np-red {
  background: $np-red;
}
.np-blue {
  background: $np-blue;
}

#content {
  font-family:"Berlin Sans FB";
  color: #FFFFFF;
}
.center {
  text-align:center;
}
#footer {
  background: $np-green;
  padding-top:3px;
}
h1 { 
  color: #FFFFFF;
}
h2 { 
  color: #FFFFFF;
}
h3 { 
  color: #FFFFFF;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

.menu_item {
  padding-top: 13px;
  padding-bottom: 13px;
  text-align:center;
  font-size:2.0em;
}
/*#page-content {
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}*/
#Home {
  background: $np-blue;
}
#Philosophy {
  background: $np-green;
}
#Order {
  background: $np-red;
}
#Menu{
  background: $np-blue;
}
#FAQ{
  background: $np-green;
}
#Contact{
  background: $np-red;
}
