// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$np-blue: #4f81bd;
$np-green: #92d050;
$np-grey: #c0c0c0;
$np-red: #c0504d;
$np-padding-top-bottom: 10px;
$np-padding-sides: 20px;

.Philosophy {
  background: $np-green;
  padding-bottom: $np-padding-top-bottom;
  padding-top: $np-padding-top-bottom;
  padding-left: $np-padding-sides;
  padding-right: $np-padding-sides;
}
.Order {
  background: $np-red;
  padding-bottom: $np-padding-top-bottom;
  padding-top: $np-padding-top-bottom;
  padding-left: $np-padding-sides;
  padding-right: $np-padding-sides;
}
.FAQ{
  background: $np-green;
  padding-bottom: $np-padding-top-bottom;
  padding-top: $np-padding-top-bottom;
  padding-left: $np-padding-sides;
  padding-right: $np-padding-sides;
}
.Contact{
  background: $np-red;
  padding-bottom: $np-padding-top-bottom;
  padding-top: $np-padding-top-bottom;
  padding-left: $np-padding-sides;
  padding-right: $np-padding-sides;
}
